{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}
{% block body %}
  <div id="errorBlock">
    <p id="imageError"><img src="{{ asset('img/500error.png') }}" alt="Erreur 500 !" /></p>
    <p>Oups ! Il semble que notre serveur rencontre un problème, nous mettons tout en oeuvre pour rétablir la situation au plus vite. <br/> Retour à <a href="{{ path('homepage') }}" title="Retour à l'accueil">l'accueil</a></p>
  </div>
{% endblock %}